.select{
    max-width: 70% !important;
}

ion-button{
    text-align: center;
}

ion-fab-button[data-desc] {
    position: relative;
    --background: #ffffff;
  }
  
  ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: var(--ion-color-dark);
    padding: 9px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
    --background: #ffffff;
  }

  .error-message {
    color: var(--ion-color-danger);
  }

  .background{
    --background: url(../../assets/img/valoracion.png) no-repeat center center / cover;
    
  }

  .estilo-modal {
    height: 20%;
    top: 80%;
    position: absolute; 
    display: block;  
  }
  