<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="paciente">
      <ion-icon name="person"></ion-icon>
      <ion-label>Basicos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="valoracion">
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>Valoración</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estimacion-ingesta">
        <ion-icon name="restaurant"></ion-icon>
        <ion-label>Ingesta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="diagnostico">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Diagnostico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requerimientos">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Requer.</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calculadora">
        <ion-icon name="medkit"></ion-icon>
        <ion-label>Calcul.</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>