<ion-header>
  <ion-toolbar>
    <ion-title>Paciente {{paciente.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-title>Valoracion</ion-title>
    </ion-item>

    <ion-item>
      <ion-label>Fecha Valoracion: </ion-label>
      <ion-label>{{paciente.valoracion.fechaValoracion}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Peso: </ion-label>
      <div>{{paciente.peso}}Kg</div>
    </ion-item>
    <ion-item>
      <ion-label>Talla: </ion-label>
      <div>{{paciente.talla}}m</div>
    </ion-item>
    <ion-item>
      <ion-label>IMC: </ion-label>
      <div>{{paciente.imc}}</div>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">Talla Estimada por: </ion-label>
      <div>{{paciente.metodoTallaEstimada}}</div>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Talla Estimada: </ion-label>
      <div>{{paciente.tallaEstimada}}</div>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Peso Estimado por: </ion-label>
      <div>{{paciente.metodoPesoEstimado}}</div>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Peso Estimado: </ion-label>
      <div>{{paciente.pesoEstimado}}</div>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Porcentaje Perdida de Peso: </ion-label>
      <div>{{paciente.porcentajePerdidaPeso}}</div>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Tiene Amputaciones: </ion-label>
      <div>{{paciente.manifiestaAmputaciones}}</div>
    </ion-item>

    <ion-list *ngIf="paciente.tieneAmputaciones">
      <ion-item-divider
        ><ion-label class="ion-text-wrap"
          >Miembros Amputados:
        </ion-label></ion-item-divider
      >
      <ion-item *ngFor="let item of paciente.miembrosAmputaciones">
        <ion-label class="ion-text-wrap">Miembro: </ion-label>
        <ion-label class="ion-text-wrap">{{item}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label>Estructura Corporal: </ion-label>
      <div>{{ paciente.estructuraCorporal}}</div>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Peso Ideal Estructura: </ion-label>
      <div>{{ paciente.pesoIdealEstructura}}</div>
    </ion-item>

    <ion-item-divider>
      <ion-title class="ion-text-wrap">Estado Masa Muscular</ion-title>
    </ion-item-divider>

    <ion-item>
      <ion-label>Temporal: </ion-label>
      <div>{{paciente.estadoTemporal}}</div>
    </ion-item>

    <ion-item>
      <ion-label>Clavicula y Hombros</ion-label>
      <div>{{paciente.estadoClaviculaHombros}}</div>
    </ion-item>

    <ion-item>
      <ion-label>Escapula</ion-label>
      <div>{{paciente.estadoEscapula}}</div>
    </ion-item>

    <ion-item>
      <ion-label>Mano</ion-label>
      <div>{{paciente.estadoMano}}</div>
    </ion-item>

    <ion-item>
      <ion-label>Pierna</ion-label>
      <div>{{paciente.estadoPierna}}</div>
    </ion-item>

    <ion-item>
      <ion-label>Pantorilla</ion-label>
      <div>{{paciente.estadoPantorilla}}</div>
    </ion-item>

    <ion-item-divider>
      <ion-title class="ion-text-wrap">Estado Masa Grasa</ion-title>
    </ion-item-divider>
    <ion-item>
      <ion-label>Orbital</ion-label>
      <div>{{paciente.estadoOrbital}}</div>
    </ion-item>

    <ion-item>
      <ion-label>Toracica y lumbar</ion-label>
      <div>{{paciente.estadoToracicaLumbar}}</div>
    </ion-item>

    <ion-item>
      <ion-label>Brazo (triceps)</ion-label>
      <div>{{paciente.estadoBrazo}}</div>
    </ion-item>
  </ion-list>

  <ion-item-divider>
    <ion-title>Estimacion de Ingesta</ion-title>
  </ion-item-divider>

  <ion-list *ngIf="flagViaOral">
    <ion-item-divider>
      <ion-title>Via Oral</ion-title>
    </ion-item-divider>
    <ion-item>
      <ion-title class="ion-text-wrap">Desayuno</ion-title>
    </ion-item>

    <ion-item *ngFor="let item of paciente.arrayDesayuno">
      <ion-label>{{item[0]}}</ion-label>
      <ion-label class="ion-text-right">{{item[1]}} porciones</ion-label>
    </ion-item>

    <ion-item>
      <ion-title class="ion-text-wrap">Medias Nueves</ion-title>
    </ion-item>
    <ion-item *ngFor="let item of paciente.arrayMediasNueves">
      <ion-label>{{item[0]}}</ion-label>
      <ion-label class="ion-text-right">{{item[1]}} porciones</ion-label>
    </ion-item>

    <ion-item>
      <ion-title class="ion-text-wrap">Almuerzo</ion-title>
    </ion-item>
    <ion-item *ngFor="let item of paciente.arrayAlmuerzo">
      <ion-label>{{item[0]}}</ion-label>
      <ion-label class="ion-text-right">{{item[1]}} porciones</ion-label>
    </ion-item>

    <ion-item>
      <ion-title class="ion-text-wrap">Onces</ion-title>
    </ion-item>
    <ion-item *ngFor="let item of paciente.arrayOnces">
      <ion-label>{{item[0]}}</ion-label>
      <ion-label class="ion-text-right">{{item[1]}} porciones</ion-label>
    </ion-item>

    <ion-item>
      <ion-title class="ion-text-wrap">Cena</ion-title>
    </ion-item>
    <ion-item *ngFor="let item of paciente.arrayCena">
      <ion-label>{{item[0]}}</ion-label>
      <ion-label class="ion-text-right">{{item[1]}} porciones</ion-label>
    </ion-item>
    <ion-item>
      <ion-title class="ion-text-wrap">Refrigerio Nocturno</ion-title>
    </ion-item>
    <ion-item *ngFor="let item of paciente.arrayRefrigerioNocturno">
      <ion-label>{{item[0]}}</ion-label>
      <ion-label class="ion-text-right">{{item[1]}} porciones</ion-label>
    </ion-item>
    <ion-item>
      <ion-title class="ion-text-wrap">Extras</ion-title>
    </ion-item>
    <ion-item *ngFor="let item of paciente.arrayExtras">
      <ion-label>{{item[0]}}</ion-label>
      <ion-label class="ion-text-right">{{item[1]}} porciones</ion-label>
    </ion-item>
    <ion-item>
      <ion-title class="ion-text-wrap">Liquidos</ion-title>
    </ion-item>
    <ion-item *ngFor="let item of paciente.arrayLiquidos">
      <ion-label>{{item[0]}}</ion-label>
      <ion-label class="ion-text-right">{{item[1]}} porciones</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="flagNutricionEntera">
    <ion-item>
      <ion-title>Nutricion Entera</ion-title>
    </ion-item>
    <ion-item *ngFor="let item of paciente.arrayNutricionEnteraTotal">
      <ion-label>{{item[0]}}</ion-label>
      <ion-label class="ion-text-right">{{item[1]}} porciones</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!flagNutricionEntera && !flagViaOral">
    <ion-item>
      <ion-label>No se realizo estimacion!</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-divider>
      <ion-title>Requerimientos</ion-title>
    </ion-item-divider>

    <ion-item>
      <ion-label>Kilo Calorias Pulgar:</ion-label>
      <ion-label>{{paciente.requerimientoCaloriasPulgar}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Calorias Harris</ion-label>
      <ion-label>{{paciente.requerimientoCaloriasHarris}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Proteina</ion-label>
      <ion-label>{{paciente.requerimientoProteina}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Liquido</ion-label>
      <ion-label>{{paciente.requerimientoLiquido}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button shape="round" expand="full" (click)="salir()">Salir</ion-button>
  <ion-button [disabled]="true" shape="round" expand="full" (click)="editar()"
    >Editar</ion-button
  >
</ion-content>
