ion-slide {
    display: block;
}

.slide-img-padding {
    padding-top: 80px;
    
}

.slide-background-color {
    background-color: #fefeff;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 60px;
}