<ion-content>
  <ion-slides>
    <ion-slide class = "slide-background-color" *ngFor="let item of slides" >
      <img class="slide-img-padding" [src]="item.img">
      <h3 [innerHTML]="item.titulo"></h3>
      
      <ion-button *ngIf="flagVerificado" shape="round" (click)="continuar()"><ion-icon name="arrow-forward" slot="end"></ion-icon>Continuar</ion-button>
      <ion-button shape="round" (click)="ObtenerIdUnico()"><ion-icon name="arrow-forward" slot="end"></ion-icon>ObtenerIdUnico</ion-button>
      <p id="MAC">MAC: Sin Identificar</p>
      <p id="IMEI">IMEI: Sin Identificar</p>
      <p id="IMSI">IMSI: Sin Identificar</p>
      <p id="ICCID">ICCID: Sin Identificar</p>
      <p id="UUID">UUID: Sin Identificar</p>
    </ion-slide>
  </ion-slides>
</ion-content>